html,
body {
  min-height: 100%;
}

html {
  background: linear-gradient(to bottom, transparent 0%, transparent 80%, $gray-darkest 80%, $gray-darkest 100%);
  background-color: $gray-lighter;
}

body {
  background-color: $gray-lighter;
}
