$footer-height: 64px !default;
$footer-background-color: $gray-darker !default;

.footer {
  position: relative;
  height: $footer-height;
  padding: 8px 0;
  background-color: $footer-background-color;
  color: $gray;
}
