$navbar-default-height: 56px;
$navbar-default-extended-height: 94px;
$navbar-default-minimized-height: 52px;
$navbar-margin: 8px;

.navbar-default {
  @extend .navbar-light;

  min-height: $navbar-default-height;
  background-color: $white;

  & + *:not(.flash-messages),
  & + .flash-messages + * {
    margin-top: $navbar-margin;
  }

  .navbar-brand > img {
    height: 28px;
  }

  @include media-breakpoint-only(xs) {
    > .container {
      width: 100%;
    }
  }

  @include media-breakpoint-between(xs, md) {
    .navbar-toggler-right {
      right: 0;
    }
  }

  @include media-breakpoint-between(lg, xl) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;

    height: $navbar-default-extended-height;
    @include transition(all .32s);

    .navbar-brand > img {
      height: 40px;
      @include transition(all .32s);
    }

    &.minimized {
      height: $navbar-default-minimized-height;

      .navbar-brand > img {
        height: 32px;
      }
    }

    & + *:not(.flash-messages) {
      margin-top: $navbar-default-extended-height + $navbar-margin;
    }

    & + .flash-messages {
      margin-top: $navbar-default-extended-height;
    }

    & + .flash-messages + * {
      margin-top: $navbar-margin;
    }
  }

  .navbar-toggler {
    border: 0;
  }
}
