.content {
  min-height: calc(100vh - #{$navbar-default-height + $navbar-margin} - #{$footer-height});
  overflow: hidden;

  @include media-breakpoint-between(lg, xl) {
    min-height: calc(100vh - 58px - #{$navbar-default-extended-height + $navbar-margin} - #{$footer-height});
  }
}
