.book-statis {
  padding: 0;
  border: 1px solid $gray-dark;
  border-right: 0;
  border-left: 0;
  opacity: .8;

  > * {
    display: flex;
    padding: 0 2px;
    border-bottom: 1px dotted $gray;

    &:last-child {
      border-bottom: 0;
    }

    > * {
      flex: 1;
    }

    .pull-right {
      text-align: right;
    }
  }
}
