@mixin book-cover-scale($scale: 1) {
  @for $i from 1 through 420 {
    &[data-width="#{$i}"],
    &[data-width="#{$i}"] > img {
      width: $i * $scale * 1px;
    }

    &[data-height="#{$i}"],
    &[data-height="#{$i}"] > img {
      height: $i * $scale * 1px;
    }
  }
}

.book-cover {
  @include book-cover-scale;
  @extend .d-flex, .flex-column, .justify-content-around, .align-items-center;

  position: relative;

  border-radius: 2px;
  box-shadow: 0 1px 3px rgba($black, .2);

  background-color: #f2f4ee;
  color: #0b0531;

  img {
    width: 100%;
    border-radius: 2px;
  }

  .title:first-child {
    @extend h3;
    margin: 80px 10px 192px;
    border: 1px solid rgba(#0b0531, .8);
    border-right: 0;
    border-left: 0;
    padding: 8px 4px;
    font-weight: 200;
    text-align: center;
  }

  .btn-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 12px;
    background: linear-gradient(to top, rgba($gray, .5) 0%, transparent 100%);

    .btn {
      @include button-outline-variant($gray-lighter, $gray-lighter);

      &:hover {
        background-color: rgba($gray-light, .5);
      }
    }
  }

  &-responsive {
    &,
    > img {
      margin: auto;
      max-width: 100%;
      height: auto !important;
    }
  }
}
