.books-shelf {
  @mixin row-height-varient($row-height) {
    &::before {
      background-size: 80px $row-height;
    }

    .books-shelf-item {
      height: $row-height;

      > * {
        max-height: $row-height;
      }
    }
  }

  @extend .d-flex, .flex-row, .flex-wrap, .justify-content-center, .justify-content-around;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;

    background: linear-gradient(to bottom, $gray-lightest 0%, $gray-lighter 80%, $gray-light 100%);
  }

  > * {
    position: relative;
    z-index: 10;
  }

  .books-shelf-item {
    @extend .d-flex, .justify-content-center;
    z-index: 1;
    padding: 16px 8px 0;
    overflow: hidden;

    > * {
      @extend .align-self-end;
      margin-bottom: -1px;
    }
  }

  @include row-height-varient(360px);

  .book-cover {
    @include book-cover-scale(.75); // [296, 420] * .75 = [222, 315]
  }

  @include media-breakpoint-between(sm, lg) {
    @include row-height-varient(320px);

    .book-cover {
      @include book-cover-scale(.64);
    }
  }

  @include media-breakpoint-only(xs) {
    @include row-height-varient(200px);

    .book-cover {
      @include book-cover-scale(.4);
    }
  }
}
