.bg-gray-darkest {
  background: $gray-darkest;
}

.bg-gray-darker {
  background: $gray-darker;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-gray {
  background: $gray;
}

.bg-gray-light {
  background: $gray-light;
}

.bg-gray-lighter {
  background: $gray-lighter;
}

.bg-gray-lightest {
  background: $gray-lightest;
}

.border-gray-darkest {
  border-color: $gray-darkest;
}

.border-gray-darker {
  border-color: $gray-darker;
}

.border-gray-dark {
  border-color: $gray-dark;
}

.border-gray {
  border-color: $gray;
}

.border-gray-light {
  border-color: $gray-light;
}

.border-gray-lighter {
  border-color: $gray-lighter;
}

.border-gray-lightest {
  border-color: $gray-lightest;
}
