/*
 * application.scss
 */

// Core
//
// Base and core component styles used across the app.

@import "variables";
@import "core/bootstrap";
@import "core/base";
@import "core/turbolinks";
@import "core/buttons";
@import "core/navbar";
@import "core/flash_messages";
@import "core/footer";
@import "core/utilities";

// Components
//
// Reuseable component styles.

@import 'components/pagination';
@import 'components/list_group';
@import 'components/book_info_input';
@import 'components/user_selection_input';
@import 'components/basic_image_uploader_input';
@import 'components/book_cover';
@import 'components/books_exhibit';
@import 'components/books_shelf';
@import 'components/book_statis';
@import 'components/settings_menu';

// Layouts
//
// Arranges components to construct a block or page.

@import 'layouts/content';
@import 'layouts/new_borrow_demand_block';
@import 'layouts/books_index_page_show_book';

// Utilities
//
// Some Utilities.

@import 'utilities';
